{% extends 'base.html' %}

{% block meta %}
<title>Create To Do List</title>
{% endblock meta %}

{% block content %}

<div class = "create">

    <h1>Create</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Title: </td>
                <td><input type="text" name="title" placeholder="title" class="form-control" required></td>
            </tr>
                    
            <tr>
                <td>Description: </td>
                <td><textarea name="description" id="description" cols="30" rows="10" required></textarea></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="submit"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
</div>

{% endblock content %}