{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block meta %}
<title>Create To Do List</title>
{% endblock meta %}
<!-- prettier-ignore -->
{% block content %}

<div class="bg-[#BEBEBE] w-full min-h-screen px-10 py-10">
  <form method="POST" action="">
    {% csrf_token %}
    <div class="w-full">
      <p class="">Title</p>
      <input
        type="text"
        name="title"
        class="form-control rounded-md border border-gray-400 w-full"
        placeholder="Enter Your Title here"
      />
    </div>
    <div class="w-full">
      <p class="">Description</p>
      <textarea
        name="description"
        id="description"
        class="w-full min-h-screen rounded-xl"
        required
      ></textarea>
    </div>
    <div class="w-full flex justify-end">
      <input
        class="py-1 md:px-8 px-2 rounded-lg cursor-pointer bg-[#FF9933] text-white"
        type="submit"
        value="submit"
      />
    </div>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock content %}
