{% block meta %}
<title>To Do List</title>
{% endblock meta %}

{% block content %}
<b>username: {{username}}</b>

<table border="1">
  <tr>
    <th>Tanggal</th>
    <th>Judul</th>
    <th>Deskripsi</th>
    <th>Dikerjakan</th>
    <th>Aksi</th>
  </tr>
  {% for todo in data %}
  <tr>
    <th>{{todo.date}}</th>
    <th>{{todo.title}}</th>
    <th>{{todo.description}}</th>
    <th>{{todo.is_finished}}</th>
    <th><button><a href="delete/{{todo.pk}}">Hapus</a></button><button><a href="done/{{todo.pk}}">Selesai</a></button></th>
  </tr>
  {% endfor %}
</table>
<button><a href="{% url 'todolist:create' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}
