{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block meta %}
<title>To Do List</title>
<script>
  let tab;
  function show(data) {
    tab = ``;

    for (let r of data) {
      tab += `
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title text-center"><p>${r.fields.title}</p></h2>
          <p class="card-title text-sm font-normal">${r.fields.date}</p>
          <p>${r.fields.description}</p>
          <p>selesai : ${r.fields.is_finished}
          </p>
          <div class="card-actions justify-end">
            <button class="btn btn-error" onClick={deleteData(${r.pk})}>Hapus</button>
            <button class="btn btn-primary" onClick={doneData(${r.pk})}>Selesai</button>
          </div>
        </div>
      </div>
    `;
    }

    document.getElementById("table").innerHTML = tab;
  }

  function loadData() {
    $.get("{% url 'todolist:todolist_json' %}", function (data) {
      show(data);
      console.log(data);
    });
  }

  $(document).ready(function () {
    loadData();
  });

  $(document).on("submit", "#buatproject", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'todolist:create' %}",
      data: {
        title: $("#title").val(),
        description: $("#description").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      dataType: "json",
      success: function () {
        loadData();
        document.getElementById('title').value = "";
        document.getElementById('description').value = "";
        $.toast({ 
  text : "Task Berhasil Dibuat", 
  showHideTransition : 'fade',  // It can be plain, fade or slide
  bgColor : '#23B65D',              // Background color for toast
  textColor : '#eee',            // text color
  allowToastClose : false,       // Show the close button or not
  hideAfter : 2000,              // `false` to make it sticky or time in miliseconds to hide after
  stack : 5,                     // `fakse` to show one stack at a time count showing the number of toasts that can be shown at once
  textAlign : 'left',            // Alignment of text i.e. left, right, center
  position : 'bottom-right'       // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values to position the toast on page
})
      },
    });
  });

  function deleteData(id) {
    $.ajax({
      type: "POST",
      url: `delete/${id}`,
      data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
      dataType: "json",
      success: function () {
        loadData();
        $.toast({ 
  text : "Task Dihapus", 
  showHideTransition : 'fade',  // It can be plain, fade or slide
  bgColor : '#E01A31',              // Background color for toast
  textColor : '#eee',            // text color
  allowToastClose : false,       // Show the close button or not
  hideAfter : 2000,              // `false` to make it sticky or time in miliseconds to hide after
  stack : 5,                     // `fakse` to show one stack at a time count showing the number of toasts that can be shown at once
  textAlign : 'left',            // Alignment of text i.e. left, right, center
  position : 'bottom-right'       // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values to position the toast on page
})
      },
    });
  }

  function doneData(id) {
    $.ajax({
      type: "POST",
      url: `done/${id}`,
      data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
      dataType: "json",
      success: function () {
        loadData();
        $.toast({ 
  text : "Berhasil Update", 
  showHideTransition : 'fade',  // It can be plain, fade or slide
  bgColor : '#0000ff',              // Background color for toast
  textColor : '#eee',            // text color
  allowToastClose : false,       // Show the close button or not
  hideAfter : 2000,              // `false` to make it sticky or time in miliseconds to hide after
  stack : 5,                     // `fakse` to show one stack at a time count showing the number of toasts that can be shown at once
  textAlign : 'left',            // Alignment of text i.e. left, right, center
  position : 'bottom-right'       // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values to position the toast on page
})
      },
    });
  }
</script>
{% endblock meta %}
<!-- prettier-ignore -->
{% block content %}
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/todolist/">To Do List</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0 md:hidden">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-square btn-ghost"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg></label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-300 rounded-box w-52">
          <li><label for="my-modal-4" class="btn btn-ghost w-full">Tambah</label></li>
          <li><a href="{% url 'todolist:logout' %}" class="w-full flex justify-center"><p class="text-center">Logout</p></a></li>
        </ul>
      </div>
    </ul>
    <ul class="menu menu-horizontal p-0 hidden md:flex">
      <li><label for="my-modal-4" class="btn btn-ghost">Tambah</label></li>
      <li><a href="{% url 'todolist:logout' %}">Logout</a></li>
    </ul>
  </div>
</div>

<div class="bg-[#BEBEBE] min-h-screen p-10 w-full flex justify-center">
  <div class="lg:columns-3 md:columns-2 columns-1 gap-10 flex-none space-y-5" id="table"></div>
</div>

<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <h3 class="text-lg font-bold">Tambah Task</h3>
    <form action="" id="buatproject">
      {% csrf_token %}
    <div class="form-control w-full mt-5">
      <label class="label">
        <span class="label-text">Title</span>
      </label>
      <input type="text" placeholder="Type here" class="input input-bordered w-full" id="title" required/>
    </div>
    <div class="form-control w-full mb-5">
      <label class="label">
        <span class="label-text">Description</span>
      </label> 
      <textarea class="textarea textarea-bordered h-24" placeholder="Bio" id="description" required></textarea>
    </div>
    <div class="w-full flex justify-end">
      <button class="btn btn-active btn-primary modal-action" type="submit" id="button"><label for="my-modal-4">Submit</label></button>
    </div>
  </form>
  </label>
</label>
{% endblock content %}
